.home-intro {
  padding: 50vh 0;
  background: #d8d8d8 url(https://source.unsplash.com/dC6Pb2JdAqs);
  background-size: cover;
  background-blend-mode: multiply;
  color: white;
  text-align: center;
  opacity: 0.5;
}

.slogan{
  opacity: 1;
  background-color: #d8d8d8;
  border: #b22230 1px solid;
  color: #000;
  font-weight: 900;
}

.fade-in {
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}

.from-left {
  grid-column: 2 / 3;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.from-right {
  grid-column: 3 / 4;
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
}

.from-below {
  grid-column: 3 / 4;
  -webkit-transform: translateY(10%);
  transform: translateY(10%);
}

.from-left,
.from-right, .from-below {
  transition: opacity 250ms ease-in, -webkit-transform 400ms ease-in;
  transition: opacity 250ms ease-in, transform 400ms ease-in;
  transition: opacity 250ms ease-in, transform 400ms ease-in,
    -webkit-transform 400ms ease-in;
  opacity: 0;
}

.from-left.appear,
.from-right.appear,.from-below.appear {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}