database/connect.php
project-details/quizgo/lecturer/redirect-update-quiz.php
project-details/quizgo/lecturer/redirect-create-quiz.php
project-details/quizgo/lecturer/redirect-comment.php
project-details/quizgo/lecturer/quiz-result.php
project-details/quizgo/lecturer/process-quiz.php
project-details/quizgo/lecturer/lecturer-modify-quiz.php
project-details/quizgo/lecturer/lecturer-manage-quiz.php
project-details/quizgo/lecturer/lecturer-create-quiz.php
project-details/quizgo/quizgo-intro.php
js/chart.js
js/date.js
js/question.js
project-details/quizgo/lecturer/top-nav.php
project-details/quizgo/lecturer/side-nav.php
project-details/quizgo/lecturer/lecturer-home.php
project-details/quizgo/css/student.css
project-details/quizgo/css/signin.css
project-details/quizgo/css/registration.css
project-details/quizgo/css/reset.css
project-details/quizgo/css/quizgo.css
project-details/quizgo/css/mainOld.css
project-details/quizgo/css/login.css
project-details/quizgo/css/home.css
project-details/quizgo/css/help.css
project-details/quizgo/css/cutom.css
project-details/quizgo/css/bootstrap.min.css.map
project-details/quizgo/css/about.css
project-details/quizgo/css/bootstrap.min.css
